
footer {
    background: #3a6fa7;
    padding: 20px;
}

.cv_contact{
    display: flex;
    flex-direction: column;
}

.cv_contact_name{
    font-weight: 700;
    font-size: 25px;
    line-height: 20px;
    color: #FFFFFF;
}

.cv_contact_element{
    display: flex;
    flex-direction: column;
}

.cv_contact_info{
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;
    color: #FFFFFF;
}